---

---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lensodev.</title>
    <link rel="icon" type="image/svg+xml" href="images/favicon.ico" />
  </head>
  <body class="overflow-x-hidden w-full bg-[#1e1e1e]">
    <main class="relative z-0">
      
      <slot />
    </main>
  </body>
</html>


<style is:global>
	
   /* 
  
  body {
		background-color: #f4f1ea;
		background-image: url('/images/xv.png'); 
        background-repeat: repeat; 
	}
    
    /* Opcional: Si quieres que el ruido sea sutil, puedes usar pseudo-elementos, 
       pero para este patrón 'xv', ponerlo directo en el body suele quedar bien. */
</style>