---

---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lensodev.</title>
    <link rel="icon" type="image/svg+xml" href="images/favicon.ico" />
  </head>
  <body class=" font-sans antialiased bg-negro">

    <main class="relative z-0">
      <slot />
    </main>

    {/* Aquí podrías tener un Footer global */}
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

</style>