---
import "../styles/global.css";
const { pageTitle } = Astro.props;
import { inject } from '@vercel/analytics'; // Importa solo la función inject

inject(); // Llama a la función para inyectar el script automáticamente
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <h1>{pageTitle}</h1>
    <slot />
  </body>
</html>
