---
import Analytics from '@vercel/analytics/astro';
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lensodev.</title>
    <link rel="icon" type="image/svg+xml" href="images/logo.webp" />
    <Analytics />
  </head>
  <body class="overflow-x-hidden w-full bg-[#1e1e1e]">
    <main class="relative z-0">
      <slot />
    </main>
  </body>
</html>

<style is:global>

</style>

