---

---
<html lang="es">
  <head>
    <title>Leandro Soto Miranda - Portfolio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
    <script src="/utils/themeToggle.js" is:inline></script>
	<link rel="stylesheet" href="/styles/global.css"/>
  <link rel="stylesheet" href="/styles/darkmode.css"/>
  </head>
  <body class="bg-grey text-gray-800">
    <main>
      <slot />
    </main>
  </body>
</html>
