@tailwind base;
@tailwind components;
@tailwind utilities;


.animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
  }
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


  body {
    background-image: url('bk.jpg'); /* Ruta de tu imagen */
    background-size: cover; /* La imagen cubrirá todo el fondo */
    background-position: center; /* Centra la imagen en la pantalla */
    background-attachment: fixed; /* Fija la imagen para que no se mueva al hacer scroll */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  }

  
  
  