---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import About from '../components/About.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Exp from '../components/Exp.astro';
import Contact from '../components/Contact.astro';
import Tec from '../components/Tec.astro';
---

<html class="scroll-smooth">
  <head>
    <meta charset="UTF-8">
    <title>leandruko</title>
    <link rel="icon" type="image/x-icon">
    <!-- Incluye el CDN de Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Material Tailwind stylesheet -->
    <link rel="stylesheet" href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css" />
  </head>
  <body class="bg-negro">
    
    <!-- Encabezado y navegación -->
    <Navbar />

    <!-- Sección de introducción -->
    <Hero />

    <!-- Contenido principal -->
    <main class="max-w-1xl mx-auto">

      <!-- Experiencia -->
      <Exp />

      <!-- Proyectos -->
      <Projects />
      
      <!-- Tecnologias 
      <Tec />
      -->
      <!-- Acerca de mí -->
      <About />
      <!-- Contacto -->
      <Contact />
    </main>

    <!-- Pie de página -->
    <Footer />
  </body>
</html>
