---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Exp from '../components/Exp.astro';
import Contact from '../components/Contact.astro';
import Navbar from '../components/Navbar.astro';
import Stack from '../components/Stack.astro';
---

<BaseLayout>
  <Fragment slot="head">
    <meta name="description" content="Leandro Soto Miranda - Desarrollador & Analista/Ingeniero de datos">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <!-- Material Tailwind -->
    <link rel="stylesheet" href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css"/>
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
  </Fragment>

  <Navbar />
  <Hero /> 
  
  <main>
    <Projects />
   <!-- <Exp /> -->
    <Contact />
    <Footer />
  </main>
</BaseLayout>