---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import About from '../components/About.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Exp from '../components/Exp.astro';
import Contact from '../components/Contact.astro';
import Tec from '../components/Tec.astro';
---
<html class="scroll-smooth">
  <head>
    <meta charset="UTF-8">
    <title>Lea's page</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Incluye el CDN de Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Material Tailwind stylesheet -->
    <link rel="stylesheet" href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css"/>
  
  </head>
  <body class="bg-zinc-900 dark dark:bg-white/70">
      <!-- Encabezado y navegación -->
      <Navbar />
      <!-- Sección de introducción -->
      
      <Hero /> 
      <!-- Contenido principal -->
      <main>
        <!-- Experiencia -->
        <Exp />
        <!-- Proyectos -->
        <Projects />
        <!-- Acerca de mí -->
        <About />
        <!-- Contacto -->
        <Contact />
      </main>
        <!-- Footer -->
        <Footer />
<script is:client="load">
  const html = document.documentElement;
  const toggleBtn = document.getElementById('dark-toggle');

  // Al cargar la página
  const saved = localStorage.getItem('theme');
  if (saved === 'dark' || (!saved && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
    html.classList.add('dark');
  }

  toggleBtn?.addEventListener('click', () => {
    html.classList.toggle('dark');
    if (html.classList.contains('dark')) {
      localStorage.setItem('theme', 'dark');
    } else {
      localStorage.setItem('theme', 'light');
    }
  });
</script>

  </body>
</html>