---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import About from '../components/About.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Exp from '../components/Exp.astro';
import Contact from '../components/Contact.astro';
import Navbar from '../components/Navbar.astro';
---
<html class="scroll-smooth">
  <head>
    <meta charset="UTF-8">
    <title>Lea's page</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Incluye el CDN de Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Material Tailwind stylesheet -->
    <link rel="stylesheet" href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
  </head>
  <body>
    <Navbar/>
      <!-- Sección de introducción -->
      <Hero /> 
      <!-- Contenido principal -->
      <main>
        <Projects />
        <Exp/>
        <Contact/>
        <Footer/>
      </main>
  </body>
</html>