<section
  class="my-16 p-8 text-claro rounded-lg container max-w-5xl px-4 py-6 mx-auto"
>
  <h2 id="about" class="text-4xl font-bold text-center mb-10">Acerca de mi</h2>
  <p class="mt-4 text-xl text-justify">
    Ingeniero en Informática con experiencia en desarrollo web, aplicaciones móviles y bases de
    datos, especializado en análisis de datos y machine learning. Con conocimientos de Python,
    SQL, Power BI, Looker y plataformas cloud como Azure y GCP. Me desempeño en encontrar las
    mejores soluciones a problemas complejos, optimizando procesos y generando impacto a través
    del uso inteligente de los datos.
  </p>
</section>