<section id="experience">
  <div class="max-w-4xl mx-auto mb-10">
    <h2 class="text-4xl font-bold text-center mb-10 text-claro">Experiencia</h2>
    <div class="grid gap-4 sm:grid-cols-12">
      <div class="col-span-12 sm:col-span-3"></div>
      <div class="relative col-span-12">
        <div
          class="col-span-12 space-y-12 relative px-4 sm:col-span-8 sm:space-y-8 sm:before:absolute sm:before:top-2 sm:before:bottom-0 sm:before:w-0.5 sm:before:-left-3 before:dark:bg-claro"
        >
          <div
            class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-verde"
          >
            <h3 class="text-2xl text-claro font-semibold tracking-wide">
              Ingeniero de datos
            </h3>
            <h3 class="text-claro opacity-75">Pasantía</h3>
            <time class="text-xs tracking-wide uppercase text-verde"
              >Dec 2023 - Mar 2024</time
            >
            <ul class="mt-3 text-lg list-disc ml-4 text-claro space-y-2">
              <li>
                Lideré y gestioné el proyecto, planificando cronograma, costos y recursos en Azure.
              </li>
              <li>
                Diseñé la arquitectura en Azure, configurando máquinas virtuales y almacenamiento.
              </li>
              <li>
                Implementé una solución en Python que optimizó en un 70% el control de inventario
                mediante la extracción automatizada con OCR de información desde imágenes.
              </li>
              <li>
                Coordiné la integración con Odoo ERP, mejorando la interoperabilidad y calidad de datos.
              </li>
              <li>
                Apliqué principios de DevOps para optimizar seguridad, despliegue y mantenimiento en la
                nube.
              </li>
            </ul>
          </div>
          <div
            class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-verde"
          >
            <h3 class="text-2xl font-semibold tracking-wide text-claro">
              Analista de datos
            </h3>
            <h3 class="text-claro opacity-75">Pasantía</h3>
            <time class="text-xs tracking-wide uppercase text-verde"
              >Ago 2023 - Sep 2023</time
            >
            <ul class="mt-3 text-lg list-disc ml-4 text-claro space-y-2">
              <li>
                Migré la base de datos de Access a MySQL, mejorando velocidad y estabilidad.
              </li>
              <li>
                Utilicé SQL y Python para transformar datos y optimizar su calidad.
              </li>
              <li>
                Diseñé dashboards en Power BI para facilitar la toma de decisiones.
              </li>
              <li>
                Implementé autenticación segura con Django, reforzando la protección de datos.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
