<section id="experience" class="px-6 sm:px-0">
  <div class="max-w-7xl mx-auto mb-10">
    <h2 class="text-4xl font-bold text-center mb-10 text-claro">Experiencia</h2>
    <div class="grid gap-6 sm:grid-cols-12">
      <div class="relative col-span-12 sm:col-span-10 sm:col-start-2">
        <div
          class="space-y-12 sm:space-y-8 sm:relative sm:before:absolute sm:before:top-0 sm:before:bottom-0 sm:before:w-1 sm:before:left-5 before:bg-claro"
        >
          <!-- Experiencia 1 -->
          <div class="relative flex flex-col sm:flex-row sm:items-center">
            <div class="sm:ml-16">
              <h3 class="text-2xl text-claro font-semibold">
                Ingeniero de datos
              </h3>
              <h4 class="text-claro opacity-75">Pasantía</h4>
              <ul class="mt-3 text-lg list-disc ml-6 text-claro space-y-2">
                <li>
                  Lideré y gestioné el proyecto, planificando cronograma, costos
                  y recursos en Azure.
                </li>
                <li>
                  Diseñé la arquitectura en Azure, configurando máquinas
                  virtuales y almacenamiento.
                </li>
                <li>
                  Implementé una solución en Python que optimizó en un 70% el
                  control de inventario con OCR.
                </li>
                <li>
                  Coordiné la integración con Odoo ERP, mejorando
                  interoperabilidad y calidad de datos.
                </li>
                <li>
                  Apliqué principios de DevOps para optimizar seguridad,
                  despliegue y mantenimiento en la nube.
                </li>
              </ul>
            </div>
          </div>

          <!-- Experiencia 2 -->
          <div class="relative flex flex-col sm:flex-row sm:items-center">
            <div class="sm:ml-16">
              <h3 class="text-2xl text-claro font-semibold">
                Analista de datos
              </h3>
              <h4 class="text-claro opacity-75">Pasantía</h4>
              <ul class="mt-3 text-lg list-disc ml-6 text-claro space-y-2">
                <li>
                  Migré la base de datos de Access a MySQL, mejorando velocidad
                  y estabilidad.
                </li>
                <li>
                  Utilicé SQL y Python para transformar datos y optimizar su
                  calidad.
                </li>
                <li>
                  Diseñé dashboards en Power BI para facilitar la toma de
                  decisiones.
                </li>
                <li>
                  Implementé autenticación segura con Django, reforzando la
                  protección de datos.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
