<section id="experiencia-educacion" class="py-16 md:py-24 bg-negro text-white">
  <div class="max-w-6xl mx-auto px-4">
    <h2 class="text-3xl sm:text-4xl md:text-5xl font-extrabold text-center mb-12 text-verde font-mono">
      Experiencia y Educación
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
      
      <div>
        <h3 class="text-2xl font-bold mb-8 text-purple-300 text-center md:text-left font-mono text-verde/70">Experiencia Profesional</h3>
        <div class="space-y-10">
          
          <div class="relative pl-6 md:pl-10 border-l-2 border-verde/70 last:pb-0">
            <div class="absolute -left-2 md:-left-4"></div>
            <p class="text-sm text-gray-400 mb-1">Diciembre 2023 – Marzo 2024</p>
            <h4 class="text-xl font-semibold text-white">Ingeniero de Datos Jr</h4>
            <p class="text-lg text-gray-300 mb-2"> GoUp Cloud <span class="text-gray-500">- Pasantía</span></p>
            <ul class="list-disc pl-5 text-gray-300 space-y-2">
              <li>Lideré y gestioné el proyecto, planificando cronograma, costos y recursos en Azure.</li>
              <li>Diseñé la arquitectura en Azure, configurando máquinas virtuales y almacenamiento.</li>
              <li> Implementé una solución en Python que optimizó en un 70% el control de inventario
                mediante la extracción automatizada con OCR de información desde imágenes.</li>
              <li>Coordiné la integración con Odoo ERP, mejorando la interoperabilidad y calidad de datos.</li>
              <li>Apliqué principios de DevOps para optimizar seguridad, despliegue y mantenimiento en la nube.</li>
            </ul>
          </div>

          
          <div class="relative pl-6 md:pl-10 pb-10 border-l-2 border-verde/70 last:pb-0">
            <div class="absolute -left-2 md:-left-4"></div>
            <p class="text-sm text-gray-400 mb-1">Agosto 2023 – Septiembre 2023</p>
            <h4 class="text-xl font-semibold text-white">Analista de Datos</h4>
            <p class="text-lg text-gray-300 mb-2">Servicios Itata Spa. <span class="text-gray-500">- Pasantía</span></p>
            <ul class="list-disc pl-5 text-gray-300 space-y-2">
              <li>Migré la base de datos de Access a MySQL, mejorando velocidad y estabilidad.</li>
              <li>Utilicé SQL y Python para transformar datos y optimizar su calidad.</li>
              <li>Diseñé dashboards en Power BI para facilitar la toma de decisiones.</li>
              <li>Implementé autenticación segura con Django, reforzando la protección de datos.</li>
            </ul>
          </div>
          
        </div>
      </div>

      
      <div>
        <h3 class="text-2xl font-bold mb-8 text-palm-200 text-center md:text-left font-mono">Educación y Certificaciones</h3>
        <div class="space-y-10">
          
          <div class="relative pl-6 md:pl-10 border-l-2 border-palm-200 last:pb-0">
            <div class="absolute -left-2 md:-left-4"></div>
            <p class="text-sm text-gray-400 mb-1">2020 – 2024</p>
            <h4 class="text-xl font-semibold text-white">Ingeniería Informática</h4>
            <p class="text-lg text-gray-300 mb-2">Instituto Profesional Duoc UC <span class="text-gray-500">- Concepción, Chile</span></p>
            <ul class="list-disc pl-5 text-gray-300 space-y-2">
            </ul>
          </div>
          <div class="relative pl-6 md:pl-10 border-l-2 border-palm-200 last:pb-0">
            <div class="absolute -left-2 md:-left-4 "></div>
            <p class="text-sm text-gray-400 mb-1">2024</p>
            <h4 class="text-xl font-semibold text-white"> Machine Learning de A a la Z: R y Python para Data Science</h4>
            <p class="text-lg text-gray-300 mb-2">Udemy - SuperDataScience Team <span class="text-gray-500">- 51,5 Horas</span> </p>
          </div>
          <div class="relative pl-6 md:pl-10 pb-10 border-l-2 border-palm-200 last:pb-0">
            <div class="absolute -left-2 md:-left-4 "></div>
            <p class="text-sm text-gray-400 mb-1">2025</p>
            <h4 class="text-xl font-semibold text-white">AWS Cloud Practitioner Essentials</h4>
            <p class="text-lg text-gray-300 mb-2">AWS Training & Certification </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>