---
const footerData = {
  year: new Date().getFullYear(),
};
---
<footer class="text-frog-green py-12 mt-30 bg-paper mx-auto text-center" id="footer" >
  <div class="container mx-auto">

    </div>

    <p class="text-sm font-mono">
      Developed by lea 2024 - {footerData.year}
      <span class="text-frog-green"> ;)</span>
    </p>
</footer>