---
const footerData = {
  year: new Date().getFullYear(),
};
---
<footer class="text-claro/80 py-12 mt-30 bg-negro mx-auto text-center" id="footer" >
  <div class="container mx-auto">

    </div>

    <p class="text-sm text-claro/20 font-mono">
      Developed by lea 2024 - {footerData.year}
      <span class="text-verde/55"> ;)</span>
    </p>
</footer>
