---
const footerData = {
  year: new Date().getFullYear(),
};
---
<footer class="text-[#e1dbc9] py-12 mt-30 bg-[#1e1e1e] mx-auto text-center font-bold" id="footer" >
  <div class="container mx-auto">

    </div>

    <p class="text-sm font-mono">
      Developed by lea 2024 - {footerData.year}
      <span class="text-[#e85a4f]"> ;)</span>
    </p>
</footer>
