---
const footerData = {
  year: new Date().getFullYear(),
};
---
<footer class="text-claro/80 py-12 mt-30 bg-gray-900" id="contact" >
  <div class="container mx-auto flex flex-col items-center text-center">

    </div>

    <p class="text-sm text-claro/20 font-mono">
      Developed by lea 2024 - {footerData.year}
      <span class="text-yellow/55"> ;)</span>
    </p>

</footer>
