<section>
  <div
    class="flex min-h-screen items-center justify-center font-bold text-claro">
    <div class="text-center space-y-12">
      <div>
        <p class="text-3xl">Hola! 👋, mi nombre es</p>
        <p class="text-green-500 text-6xl ">Leandro Soto Miranda</p>
      </div>
      <div class="text-2xl opacity-75"> Ingeniero en informatica enfocado en:</div>
      <div class="text-center text-4xl font-bold">
        <div class="relative inline-grid grid-cols-1 grid-rows-1 gap-12 overflow-hidden">
          <span class="animate-word col-span-full row-span-full">Analisis de datos</span>
          <span class="animate-word-delay-1 col-span-full row-span-full">Desarrollo Frontend</span
          >
          <span class="animate-word-delay-2 col-span-full row-span-full"
            >Desarrollo Backend</span
          >
          <span class="animate-word-delay-3 col-span-full row-span-full"
            >Desarrollo en cloud</span
          >
          <span class="animate-word-delay-4 col-span-full row-span-full"
            >Machine Learning</span
          >
        </div>
      </div>
      <div>
        <p class="text-claro opacity-70">
          Si necesitas mas informacion sobre mi
        </p>
        <a href="es_lea.pdf" download class="hover:text-verde font-semibold">
          Descarga mi CV
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  @keyframes word {
    0% {
      transform: translateY(100%);
    }
    15% {
      transform: translateY(-10%);
      animation-timing-function: ease-out;
    }

    20% {
      transform: translateY(0);
    }

    40%,
    100% {
      transform: translateY(-110%);
    }
  }

  .animate-word {
    animation: word 7s infinite;
  }
  .animate-word-delay-1 {
    animation: word 7s infinite;
    animation-delay: -1.4s;
  }
  .animate-word-delay-2 {
    animation: word 7s infinite;
    animation-delay: -2.8s;
  }
  .animate-word-delay-3 {
    animation: word 7s infinite;
    animation-delay: -4.2s;
  }
  .animate-word-delay-4 {
    animation: word 7s infinite;
    animation-delay: -5.6s;
  }
</style>
