<section
  id="hero"
  class="flex items-center justify-center min-h-screen px-4 sm:px-6 lg:px-12 py-16 md:py-24 text-claro font-bold"
>
  <div
    class="mx-auto grid md:grid-cols-2 items-center justify-center gap-8 w-full max-w-6xl motion-preset-blur-down"
  >
    <!-- Title -->
    <div class="max-w-3xl text-center mx-auto">
      <h1
        class="block font-medium text-gray-200 text-4xl sm:text-5xl md:text-6xl lg:text-7xl"
      >
        Hola
      </h1>
    </div>
    <!-- End Title -->

    <div class="max-w-3xl mx-auto">
      <p class="text-lg text-white/70">holaaasdas</p>
    </div>

    <!-- Buttons -->
    <div class="text-center">
      <a
        class="inline-flex justify-center items-center gap-x-3 text-center bg-linear-to-tl bg-blue-500 transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 text-claro text-sm font-medium rounded-full focus:outline-hidden focus:shadow-blue-700/50 py-3 px-6"
        href="Leandro Soto Miranda_CV.pdf"
        download
      >
        Descargar CV
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-file-down-icon lucide-file-down"
          ><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"
          ></path><path d="M14 2v4a2 2 0 0 0 2 2h4"></path><path d="M12 18v-6"
          ></path><path d="m9 15 3 3 3-3"></path></svg
        >
      </a>
    </div>
    <!-- End Buttons -->
  </div>
</section>

<div
  class="grid md:grid-cols-2 items-center gap-8 max-w-5xl max-md:max-w-md mx-auto"
>
  <div class="max-md:order-1 max-md:text-center">
    <h2
      class="md:text-4xl text-3xl md:leading-10 font-bold text-slate-900 mb-4"
    >
      Savor Every Bite
    </h2>
    <p class="mt-4 text-base text-slate-600 leading-relaxed">
      Embark on a gastronomic journey with our curated dishes, delivered
      promptly to your doorstep. Elevate your dining experience today.
    </p>
    <div class="mt-12 flex flex-wrap max-md:justify-center gap-4">
      <a
        href="Leandro Soto Miranda_CV.pdf" download
        class="px-6 py-3 text-base font-semibold text-white bg-[#f032e6] rounded-full hover:bg-opacity-80 transition-all duration-300 transform hover:scale-105 focus:ring-2 focus:ring-[#f032e6] focus:outline-none focus:ring-opacity-50"
        >Explore Our Menu</a
      >
      <a
        href="javascript:void(0);"
        class="px-6 py-3 text-base font-semibold text-[#f032e6] border border-[#f032e6] rounded-full hover:text-white hover:bg-[#f032e6] transition-all duration-300 transform hover:scale-105 focus:ring-2 focus:ring-[#f032e6] focus:outline-none focus:ring-opacity-50"
        >Order Now</a
      >
    </div>
  </div>
  <div class="md:h-[450px]">
    <img
      src="https://readymadeui.com/hotel-img.webp"
      class="w-full h-full object-cover rounded-lg shadow-xl"
      alt="hero-img"
    />
  </div>
</div>
