<section id="hero" class="py-8 z-10">
  <div class="flex flex-col md:flex-row items-center max-w-7xl px-6 py-8 mx-auto">
    <div class="w-full md:w-1/2 py-8">
      <h1 class="text-purple-900 text-7xl font-semibold leading-none tracking-tighter">
        Welcome to <br /><span class="text-2xl font-bold bg-gradient-to-r from-orange-700 via-blue-500 to-green-400 text-transparent bg-clip-text animate-gradient bg-300%">My Portfolio, <br /></span>
      </h1>
    </div>
    <div class="w-full md:w-1/2 py-8">
      <img src="lea.PNG" class="g-image" />
    </div>
  </div>
</section>
