<section
  id="hero"
  class="relative flex flex-col justify-between h-full max-w-7xl px-10 mx-auto xl:px-0">
  <div class="w-full md:w-1/2 py-8">
    <div
      class="h-screen w-full mx-auto py-20 xl:px-16 xs:px-8 flex md:flex-row xs:flex-col gap-4 justify-center items-center pb-10 pt-4"
    >
      <div
        class="w-full flex flex-col justify-center gap-4 text-claro md:mt-0 sm:mt-8 xs:mt-4"
      >
        <h1 class="text-5xl font-semibold">Hola👋, Soy Leandro Soto</h1>
        <h3 class="capitalize text-rose-400">
          I'm <span class="typing text-green-500 dark:text-green-700"
            ></span>
        </h3>
        <p>
          Ingeniero en informatica
        </p>
      </div>
    </div>
  </div>
</section>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"
  referrerpolicy="no-referrer"></script>
<script>
  var typed = new Typed(".typing", {
    strings: ["FullStack Developer", "Data Analyst."],
    typeSpeed: 150,
    backSpeed: 150,
    loop: true,
  });
</script>
