<!-- Hero -->
<div class="bg-linear-to-b from-violet-600/10 via-transparent">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-24 space-y-8">


    <!-- Title -->
    <div class="max-w-3xl text-center mx-auto">
      <h1 class="block font-medium text-gray-200 text-4xl sm:text-5xl md:text-6xl lg:text-7xl">
        Hola
      </h1>
    </div>
    <!-- End Title -->

    <div class="max-w-3xl text-center mx-auto">
      <p class="text-lg text-white/70">Ingeniero en Informatica </p>
    </div>

    <!-- Buttons -->
    <div class="text-center">
      <a class="inline-flex justify-center items-center gap-x-3 text-center bg-linear-to-tl from-blue-600 to-violet-600 shadow-lg shadow-transparent hover:shadow-blue-700/50 border border-transparent text-white text-sm font-medium rounded-full focus:outline-hidden focus:shadow-blue-700/50 py-3 px-6" href="#">
        Curriculum
        <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
      </a>
    </div>
    <!-- End Buttons -->
  </div>
</div>
<!-- End Hero -->


<section id="hero" class="flex items-center justify-center min-h-screen px-4 sm:px-6 lg:px-12 py-16 md:py-24 text-claro font-bold">
  <div class="mx-auto grid md:grid-cols-2 items-center justify-center gap-8 w-full max-w-6xl motion-preset-blur-down">
    
    <!-- Texto con CTA -->
    <div class="text-center md:text-left md:pl-6 space-y-4 md:space-y-6">
      <p class="text-3xl sm:text-4xl ">Hola! 👋, soy</p>
      <p class="text-green-500 text-4xl sm:text-5xl md:text-6xl leading-tight ">Leandro Soto Miranda</p>
      <p class="text-claro text-lg sm:text-xl">
        Especialista en <span class="text-green-400 font-semibold">Análisis de Datos</span> y 
        <span class="text-green-400 font-semibold">Machine Learning</span>.
      </p>
      <p class="text-claro text-lg sm:text-xl">
        ¿Quieres saber más sobre mí? Descarga mi CV aquí:
      </p>
      
      <!-- Botón CTA -->
      <a href="Leandro_Soto_Miranda_CV.pdf" download 
         class="mt-4 inline-block bg-green-500 hover:bg-green-600 text-white font-bold py-3 px-6 rounded-lg text-lg shadow-md transition-all motion-preset-typewriter ">
        📄 Descargar CV
      </a>
    </div>

    <!-- Imagen -->
    <div class="flex justify-center md:justify-end">
      <img id="profileImage" 
           src="leaimg.png" 
           alt="Foto de Leandro Soto Miranda"
           class="w-64 sm:w-72 md:w-80 lg:w-96 xl:w-[6000px] max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg h-auto rounded-full">
    </div>
  </div>
</section>
