<section id="hero" class="relative min-h-screen flex items-center justify-center bg-negro">
  <div class="container mx-auto px-6 lg:px-12 grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
    
    <!-- Texto a la izquierda -->
    <div class="space-y-6 animate-fade-in-up">
      <h1 class="text-5xl md:text-7xl font-extrabold leading-tight font-mono text-verde">Leandro Soto Miranda
      </h1>
      <h2 class="text-2xl md:text-3xl text-palm-200 font-mono">
        Desarrollador & Analista/Ingeniero de datos
      </h2>
      <p class="text-palm-50 text-base md:text-xl max-w-2xl font-mono">
        Transformando datos crudos en decisiones estratégicas.
      </p>
      <div class="flex gap-4">
        <a
          href="#proyectos"
          class="bg-verde text-negro font-semibold py-3 px-8 rounded-lg shadow-md transition-transform hover:scale-105 font-mono text-xl motion-preset-oscillate motion-duration-2000
"
        >
          Ver Proyectos
        </a>
        <a
          href="#contacto"
          class="border-2 border-verde text-verde hover:bg-verde hover:text-negro font-semibold py-3 px-8 rounded-lg shadow-md transition-transform hover:scale-105 font-mono text-xl"
        >
          Contactar
        </a>
      </div>
    </div>

    <!-- Imagen a la derecha -->
    <div class="flex justify-center md:justify-end">
      <img 
        src="image.jpg" 
        alt="Leandro Soto - Perfil" 
        class="w-full max-w-2xl md:max-w-3xl rounded-2xl  "
      />
    </div>

  </div>
</section>

<style>
  @keyframes fadeInFromBottom {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-up {
    animation: fadeInFromBottom 0.8s ease-out forwards;
    opacity: 0;
  }
</style>
