<section id="hero" class="flex items-center justify-center min-h-screen px-4 sm:px-6 lg:px-12 py-16 md:py-24 text-claro font-bold">
  <div class="mx-auto grid md:grid-cols-2 items-center justify-center gap-8 w-full max-w-6xl motion-preset-blur-down">
        <!-- Title -->
    <div class="max-w-3xl text-center mx-auto">
      <h1 class="block font-medium text-gray-200 text-4xl sm:text-5xl md:text-6xl lg:text-7xl">
        Hola
      </h1>
    </div>
    <!-- End Title -->

    <div class="max-w-3xl mx-auto ">
      <p class="text-lg text-white/70">holaaasdas </p>
    </div>

    <!-- Buttons -->
    <div class="text-center">
      <a class="inline-flex justify-center items-center gap-x-3 text-center bg-linear-to-tl bg-blue-500 transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 text-claro text-sm font-medium rounded-full focus:outline-hidden focus:shadow-blue-700/50 py-3 px-6" href="Leandro Soto Miranda_CV.pdf" download>
        Descargar CV
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-down-icon lucide-file-down"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="M12 18v-6"/><path d="m9 15 3 3 3-3"/></svg>
      </a>
    </div>
    <!-- End Buttons -->
  </div>
</section>
