<!-- Jumbotron -->
<div
  class="relative h-[6  00px] overflow-hidden rounded-lg bg-[url('https://tecdn.b-cdn.net/img/new/slides/041.webp')] bg-cover bg-no-repeat p-12 text-center text-white">
  <div
    class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-black/60 bg-fixed">
    <div class="flex h-full">
    </div>
  </div>
</div>
<!-- Jumbotron -->