<!-- nuevo navbar -->
<nav class="block w-full max-w-screen-lg px-4 py-2 mx-auto text-white bg-negro shadow-lg rounded-md lg:px-8 lg:py-3 mt-10">
  <div class="container flex flex-wrap items-center justify-between mx-auto text-claro">
    <a href="https://lensodev.vercel.app/"
      class="mr-4 block cursor-pointer py-1.5 text-lg text-claro font-semibold">
      Lensodev
    </a>
    <div class="hidden lg:block">
      <ul class="flex flex-col gap-2 mt-2 mb-4 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">
        <li
          class="flex items-center p-1 text-lg gap-x-2 text-claro">
          <a href="#experience" class="flex items-center">
            Experiencia
          </a>
        </li>
        <li
          class="flex items-center p-1 text-lg gap-x-2 text-claro">
          <a href="#projects" class="flex items-center">
            Proyectos
          </a>
        </li>
        <li
          class="flex items-center p-1 text-lg gap-x-2 text-claro">
          <a href="#about" class="flex items-center">
            Sobre mi
          </a>
        </li>
        <li
          class="flex items-center p-1 text-lg gap-x-2 text-claro">
          <a href="#contact" class="flex items-center">
            Contacto
          </a>
        </li>
      </ul>
    </div>
    <button
      class="relative ml-auto h-6 max-h-[40px] w-6 max-w-[40px] select-none rounded-lg text-center align-middle text-xs font-medium uppercase text-inherit transition-all hover:bg-transparent focus:bg-transparent active:bg-transparent disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:hidden"
      type="button">
      <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </span>
    </button>
  </div>
</nav>