<nav class="text-claro py-3 px-4 flex items-center justify-between">
  <div class="flex ml-auto text-wrap">
      <a class="text-lg px-3 py-2 leading-none rounded-full hover:bg-palm-green-900/50 transition delay-100 duration-200 ease-in-out" href="#projects">Proyectos</a>
      <a class="text-lg px-3 py-2 leading-none rounded-full hover:bg-palm-green-900/50 transition delay-100 duration-200 ease-in-out" href="#about">Quien soy</a>
      <a class="text-lg px-3 py-2 leading-none rounded-full hover:bg-palm-green-900/50 transition delay-100 duration-200 ease-in-out" href="#contact">Contacto</a>
  </div>
</nav>