<section class="container p-6 mx-auto space-y-3" id="projects">
  <h2 class="text-4xl font-bold text-center mb-20 text-claro">👨‍💻 Algunos proyectos 📉</h2>

  <div class="grid gap-8 sm:grid-cols-2 md:grid-cols-3">
    <!-- Card -->
    <div class="w-full max-w-full transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="https://github.com/leandruko/sismos-Chile">
        <div class="flex-col justify-between h-56 p-4 rounded-lg bg-zinc-800 border border-zinc-700 ">
          <h5 class="text-2xl font-bold text-yellow mb-2">Sismos Chile</h5>
          <p class="text-lg text-gray-300 motion-preset-flomoji-🌊">
            Proyecto de análisis de datos sobre el dataset de Sismos en Chile para ver tendencias o patrones.
          </p>
        </div>
      </a>
    </div>

    <!-- Card -->
    <div class="w-full max-w-full transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="https://github.com/leandruko/MineriaDatosProject">
        <div class="flex-col justify-between h-56 p-4 rounded-lg bg-zinc-800 border border-zinc-700">
          <h5 class="text-2xl font-bold text-yellow mb-2">Clima en Australia</h5>
          <p class="text-lg text-gray-300">
            Análisis de datos sobre patrones climáticos en Australia.
          </p>
        </div>
      </a>
    </div>

    <!-- Card -->
    <div class="w-full max-w-full transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="https://github.com/leandruko/students-performance">
        <div class="flex-col justify-between h-56 p-4 rounded-lg bg-zinc-800 border border-zinc-700">
          <h5 class="text-2xl font-bold text-yellow mb-2">Rendimiento Académico</h5>
          <p class="text-lg text-gray-300">
            Predicción del puntaje en exámenes de estudiantes, con datos del entorno familiar y académico.
          </p>
        </div>
      </a>
    </div>

    <!-- Card -->
    <div class="w-full max-w-full transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="https://github.com/leandruko/Morosidad-Sistema-Financiero">
        <div class=" flex-col justify-between h-56 p-4 rounded-lg bg-zinc-800 border border-zinc-700">
          <h5 class="text-2xl font-bold text-yellow mb-2">Morosidad financiera</h5>
          <p class="text-lg text-gray-300">
            Modelo para predecir si una persona será morosa en el sistema financiero.
          </p>
        </div>
      </a>
    </div>

    <!-- Card -->
    <div class="w-full max-w-full transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="https://github.com/leandruko/lung-cancer">
        <div class="flex-col justify-between h-56 p-4 rounded-lg bg-zinc-800 border border-zinc-700">
          <h5 class="text-2xl font-bold text-yellow mb-2">Cáncer de pulmón</h5>
          <p class="text-lg text-gray-300">
            Modelo de predicción para detectar cáncer de pulmón basado en datos.
          </p>
        </div>
      </a>
    </div>

    <!-- Card -->
    <div class="w-full max-w-full transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="https://github.com/leandruko?tab=repositories">
        <div class="flex-col justify-center h-56 p-4 rounded-lg bg-zinc-800 border border-zinc-700">
          <h5 class="text-2xl font-bold text-yellow text-center">Pronto más proyectos ...</h5>
        </div>
      </a>
    </div>
  </div>
</section>
