<section class="container p-6 mx-auto space-y-3" id="projects">
  <h2 class="text-4xl font-bold text-center mb-20 text-claro">👨‍💻 Algunos proyectos 📉</h2>

  <div class="grid gap-8 sm:grid-cols-2 md:grid-cols-3">
    <!-- Card -->
    <div class="w-full max-w-full transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="https://github.com/leandruko/sismos-Chile">
        <div class="flex-col justify-between h-56 p-4 rounded-lg bg-zinc-800 border border-zinc-700 ">
          <h5 class="text-2xl font-semibold text-yellow mb-2">Sismos Chile</h5>
          <p class="text-base text-gray-400">
            En este proyecto se realiza un análisis exhaustivo de los sismos en Chile entre los años 2000 y 2024, con el objetivo de identificar patrones, realizar inferencias y presentar conclusiones basadas en la información disponible. Se exploran y visualizan los datos para entender las características y tendencias.
          </p>
        </div>
      </a>
    </div>

    <!-- Card -->
    <div class="w-full max-w-full transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="https://github.com/leandruko/MineriaDatosProject">
        <div class="flex-col justify-between h-56 p-4 rounded-lg bg-zinc-800 border border-zinc-700">
          <h5 class="text-2xl font-semibold text-yellow mb-2">Clima en Australia</h5>
          <p class="text-base text-gray-400">
            Proyecto realizado con el fin de predecir si llueve mañana, relacionados con datos meteorológicos de Australia, identificando tendencias y patrones dentro de los datos además de aplicar modelos de machine learning.
          </p>
        </div>
      </a>
    </div>

    <!-- Card -->
    <div class="w-full max-w-full transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="https://github.com/leandruko/students-performance">
        <div class="flex-col justify-between h-56 p-4 rounded-lg bg-zinc-800 border border-zinc-700">
          <h5 class="text-2xl font-semibold text-yellow mb-2">Rendimiento Académico</h5>
          <p class="text-base text-gray-400">
            Este proyecto tiene como objetivo predecir el puntaje de los exámenes de los estudiantes, basándonos en diversas características relacionadas con el entorno académico y familiar, actividades extracurriculares, e influencias sociales. Se trabajó con modelos de machine learning para entender cómo distintos factores impactan en el rendimiento.
          </p>
        </div>
      </a>
    </div>

    <!-- Card -->
    <div class="w-full max-w-full transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="https://github.com/leandruko/Morosidad-Sistema-Financiero">
        <div class=" flex-col justify-between h-56 p-4 rounded-lg bg-zinc-800 border border-zinc-700">
          <h5 class="text-2xl font-semibold text-yellow mb-2">Morosidad financiera</h5>
          <p class="text-base text-gray-400">
            En este proyecto se realiza un análisis de datos y aplicar modelos de machine learning para predecir si un usuario será deudor en el sistema financiero. A través del análisis exploratorio de datos y la implementación de algoritmos de clasificación, buscamos encontrar patrones que nos permitan hacer predicciones precisas sobre la morosidad de los clientes.
          </p>
        </div>
      </a>
    </div>

    <!-- Card -->
    <div class="w-full max-w-full transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="https://github.com/leandruko/lung-cancer">
        <div class="flex-col justify-between h-56 p-4 rounded-lg bg-zinc-800 border border-zinc-700">
          <h5 class="text-2xl font-semibold text-yellow mb-2">Cáncer de pulmón</h5>
          <p class="text-base text-gray-400">
            Proyecto realizado con el objetivo de predecir si una persona tiene cáncer al pulmón, basándonos en el dataset lung cáncer de Kaggle, aplicando análisis de datos, limpieza y modelos de machine learning.
          </p>
        </div>
      </a>
    </div>

    <!-- Card -->
    <div class="w-full max-w-full transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="https://github.com/leandruko?tab=repositories">
        <div class="flex-col justify-center h-56 p-4 rounded-lg bg-zinc-800 border border-zinc-700 hover:bg-[#b6811e]">
          <h5 class="text-4xl font-semibold text-claro ">Pronto más proyectos ...</h5>
        </div>
      </a>
    </div>
  </div>
</section>
