<div id="projects" class="relative font-inter antialiased">
  <main class="relative flex flex-col justify-center overflow-hidden">
    <h2 class="text-4xl font-bold text-center mb-10 text-claro">
      Algunos proyectos
    </h2>
    <div class="w-full max-w-7xl mx-auto px-4 md:px-32">
      <!-- Card slider  -->
      <section class="px-12">
        <div class="max-w-lg mx-auto relative">
          <input
            id="article-01"
            type="radio"
            name="slider"
            class="sr-only peer/01"
          />
          <input
            id="article-02"
            type="radio"
            name="slider"
            class="sr-only peer/02"
          />
          <input
            id="article-03"
            type="radio"
            name="slider"
            class="sr-only peer/03"
            checked
          />
          <input
            id="article-04"
            type="radio"
            name="slider"
            class="sr-only peer/04"
          />
          <input
            id="article-05"
            type="radio"
            name="slider"
            class="sr-only peer/05"
          />

          <div
            class="absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)]
                peer-focus-visible/01:[&_article]:ring
                peer-focus-visible/01:[&_article]:ring-indigo-300
                peer-checked/01:relative
                peer-checked/01:z-50
                peer-checked/01:translate-x-0
                peer-checked/01:scale-100
                peer-checked/01:[&>label]:pointer-events-none
                peer-checked/02:-translate-x-20
                peer-checked/02:scale-[83.75%]
                peer-checked/02:z-40
                peer-checked/03:-translate-x-40
                peer-checked/03:z-30
                peer-checked/04:-translate-x-40
                peer-checked/04:opacity-0
                peer-checked/05:-translate-x-40"
          >
            <label class="absolute inset-0" for="article-01"
              ><span class="sr-only">Focus on the big picture</span></label
            >
            <article
              class="bg-gradient-to-br from-neutral-900 to-slate-800   p-6 rounded-lg shadow-2xl h-[400px] flex flex-col"
            >
              <div class="h-48 w-full overflow-hidden rounded-t-lg">
                <img
                  src="sismo-chile.webp"
                  alt="Sismos Chile"
                  class="w-full h-full object-cover"
                />
              </div>
              <header class="mt-4 mb-2">
                <h1 class="text-xl font-bold text-claro">Sismos Chile</h1>
              </header>
              <div
                class="text-sm leading-relaxed text-claro/70 space-y-4 mb-2 flex-grow"
              >
                <p>
                  Proyecto de análisis de datos sobre el dataset de Sismos en
                  Chile, para ver tendencias o patrones durante los últimos
                  años.
                </p>
              </div>
              <button
                type="button"
                onclick="window.location.href='https://github.com/leandruko/sismos-Chile'"
                class="py-2 px-4 max-w-md flex justify-center items-center bg-gray-600 hover:bg-gray-700 focus:ring-gray-500 focus:ring-offset-gray-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="mr-2"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M896 128q209 0 385.5 103t279.5 279.5 103 385.5q0 251-146.5 451.5t-378.5 277.5q-27 5-40-7t-13-30q0-3 .5-76.5t.5-134.5q0-97-52-142 57-6 102.5-18t94-39 81-66.5 53-105 20.5-150.5q0-119-79-206 37-91-8-204-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27t-83.5-38.5-85-13.5q-45 113-8 204-79 87-79 206 0 85 20.5 150t52.5 105 80.5 67 94 39 102.5 18q-39 36-49 103-21 10-45 15t-57 5-65.5-21.5-55.5-62.5q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5 9 14 13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30 69.5 7 55.5-3.5l23-4q0 38 .5 88.5t.5 54.5q0 18-13 30t-40 7q-232-77-378.5-277.5t-146.5-451.5q0-209 103-385.5t279.5-279.5 385.5-103zm-477 1103q3-7-7-12-10-3-13 2-3 7 7 12 9 6 13-2zm31 34q7-5-2-16-10-9-16-3-7 5 2 16 10 10 16 3zm30 45q9-7 0-19-8-13-17-6-9 5 0 18t17 7zm42 42q8-8-4-19-12-12-20-3-9 8 4 19 12 12 20 3zm57 25q3-11-13-16-15-4-19 7t13 15q15 6 19-6zm63 5q0-13-17-11-16 0-16 11 0 13 17 11 16 0 16-11zm58-10q-2-11-18-9-16 3-14 15t18 8 14-14z"
                  ></path>
                </svg>
                Ir a GitHub
              </button>
            </article>
          </div>

          <div
            class="absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)]
                peer-focus-visible/02:[&_article]:ring
                peer-focus-visible/02:[&_article]:ring-indigo-300
                peer-checked/01:translate-x-20
                peer-checked/01:scale-[83.75%]
                peer-checked/01:z-40
                peer-checked/02:relative
                peer-checked/02:z-50
                peer-checked/02:translate-x-0
                peer-checked/02:scale-100
                peer-checked/02:[&>label]:pointer-events-none
                peer-checked/03:-translate-x-20
                peer-checked/03:scale-[83.75%]
                peer-checked/03:z-40
                peer-checked/04:-translate-x-40
                peer-checked/04:z-30
                peer-checked/05:-translate-x-40
                peer-checked/05:opacity-0"
          >
            <label class="absolute inset-0" for="article-02"
              ><span class="sr-only">Focus on the big picture</span></label
            >
            <article
              class="bg-gradient-to-br from-neutral-900 to-slate-800 p-6 rounded-lg shadow-2xl h-[400px] flex flex-col"
            >
              <div class="h-48 w-full overflow-hidden rounded-t-lg">
                <img
                  src="aus.webp"
                  alt="Clima Australia"
                  class="w-full h-full object-cover"
                />
              </div>
              <header class="mt-4 mb-2">
                <h1 class="text-xl font-bold text-claro">
                  Clima en Australia
                </h1>
              </header>
              <div
                class="text-sm leading-relaxed text-claro/70 space-y-4 mb-2 flex-grow"
              >
                <p>
                  Proyecto de análisis de datos sobre patrones climáticos en
                  Australia.
                </p>
              </div>
              <button
                type="button"
                onclick="window.location.href='https://github.com/leandruko/MineriaDatosProject'"
                class="py-2 px-4 max-w-md flex justify-center items-center bg-gray-600 hover:bg-gray-700 focus:ring-gray-500 focus:ring-offset-gray-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="mr-2"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M896 128q209 0 385.5 103t279.5 279.5 103 385.5q0 251-146.5 451.5t-378.5 277.5q-27 5-40-7t-13-30q0-3 .5-76.5t.5-134.5q0-97-52-142 57-6 102.5-18t94-39 81-66.5 53-105 20.5-150.5q0-119-79-206 37-91-8-204-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27t-83.5-38.5-85-13.5q-45 113-8 204-79 87-79 206 0 85 20.5 150t52.5 105 80.5 67 94 39 102.5 18q-39 36-49 103-21 10-45 15t-57 5-65.5-21.5-55.5-62.5q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5 9 14 13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30 69.5 7 55.5-3.5l23-4q0 38 .5 88.5t.5 54.5q0 18-13 30t-40 7q-232-77-378.5-277.5t-146.5-451.5q0-209 103-385.5t279.5-279.5 385.5-103zm-477 1103q3-7-7-12-10-3-13 2-3 7 7 12 9 6 13-2zm31 34q7-5-2-16-10-9-16-3-7 5 2 16 10 10 16 3zm30 45q9-7 0-19-8-13-17-6-9 5 0 18t17 7zm42 42q8-8-4-19-12-12-20-3-9 8 4 19 12 12 20 3zm57 25q3-11-13-16-15-4-19 7t13 15q15 6 19-6zm63 5q0-13-17-11-16 0-16 11 0 13 17 11 16 0 16-11zm58-10q-2-11-18-9-16 3-14 15t18 8 14-14z"
                  ></path>
                </svg>
                Ir a GitHub
              </button>
            </article>
          </div>

          <div
            class="absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)]
                peer-focus-visible/03:[&_article]:ring
                peer-focus-visible/03:[&_article]:ring-indigo-300
                peer-checked/01:translate-x-40
                peer-checked/01:z-30
                peer-checked/02:translate-x-20
                peer-checked/02:scale-[83.75%]
                peer-checked/02:z-40
                peer-checked/03:relative
                peer-checked/03:z-50
                peer-checked/03:translate-x-0
                peer-checked/03:scale-100
                peer-checked/03:[&>label]:pointer-events-none
                peer-checked/04:-translate-x-20
                peer-checked/04:scale-[83.75%]
                peer-checked/04:z-40
                peer-checked/05:-translate-x-40
                peer-checked/05:z-30"
          >
            <label class="absolute inset-0" for="article-03"
              ><span class="sr-only">Focus on the big picture</span></label
            >
            <article
              class="bg-gradient-to-br from-neutral-900 to-slate-800 p-6 rounded-lg shadow-2xl h-[400px] flex flex-col"
            >
              <div class="h-48 w-full overflow-hidden rounded-t-lg">
                <img
                  src="rendimiento.jpg"
                  alt="Rendimiento Académico"
                  class="w-full h-full object-cover"
                />
              </div>
              <header class="mt-4 mb-2">
                <h1 class="text-xl font-bold text-claro">
                  Predicción del Rendimiento Académico
                </h1>
              </header>
              <div
                class="text-sm leading-relaxed text-claro/70 space-y-4 mb-2 flex-grow"
              >
                <p>
                  Proyecto de machine learning para predecir el puntaje de
                  estudiantes con análisis exploratorio y modelos predictivos.
                </p>
              </div>
              <button
                type="button"
                onclick="window.location.href='https://github.com/leandruko/students-performance'"
                class="py-2 px-4 max-w-md flex justify-center items-center bg-gray-600 hover:bg-gray-700 focus:ring-gray-500 focus:ring-offset-gray-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="mr-2"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M896 128q209 0 385.5 103t279.5 279.5 103 385.5q0 251-146.5 451.5t-378.5 277.5q-27 5-40-7t-13-30q0-3 .5-76.5t.5-134.5q0-97-52-142 57-6 102.5-18t94-39 81-66.5 53-105 20.5-150.5q0-119-79-206 37-91-8-204-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27t-83.5-38.5-85-13.5q-45 113-8 204-79 87-79 206 0 85 20.5 150t52.5 105 80.5 67 94 39 102.5 18q-39 36-49 103-21 10-45 15t-57 5-65.5-21.5-55.5-62.5q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5 9 14 13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30 69.5 7 55.5-3.5l23-4q0 38 .5 88.5t.5 54.5q0 18-13 30t-40 7q-232-77-378.5-277.5t-146.5-451.5q0-209 103-385.5t279.5-279.5 385.5-103zm-477 1103q3-7-7-12-10-3-13 2-3 7 7 12 9 6 13-2zm31 34q7-5-2-16-10-9-16-3-7 5 2 16 10 10 16 3zm30 45q9-7 0-19-8-13-17-6-9 5 0 18t17 7zm42 42q8-8-4-19-12-12-20-3-9 8 4 19 12 12 20 3zm57 25q3-11-13-16-15-4-19 7t13 15q15 6 19-6zm63 5q0-13-17-11-16 0-16 11 0 13 17 11 16 0 16-11zm58-10q-2-11-18-9-16 3-14 15t18 8 14-14z"
                  ></path>
                </svg>
                Ir a GitHub
              </button>
            </article>
          </div>

          <div
            class="absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)]
                peer-focus-visible/04:[&_article]:ring
                peer-focus-visible/04:[&_article]:ring-indigo-300
                peer-checked/01:translate-x-40
                peer-checked/01:opacity-0
                
                peer-checked/02:translate-x-40
                peer-checked/02:z-30
                
                peer-checked/03:translate-x-20
                peer-checked/03:scale-[83.75%]
                peer-checked/03:z-40
                peer-checked/04:relative
                peer-checked/04:z-50
                peer-checked/04:translate-x-0
                peer-checked/04:scale-100
                peer-checked/04:[&>label]:pointer-events-none
                
                peer-checked/05:-translate-x-20
                peer-checked/05:scale-[83.75%]
                peer-checked/05:z-40"
          >
            <label class="absolute inset-0" for="article-04"
              ><span class="sr-only">Focus on the big picture</span></label
            >
            <article
              class="bg-gradient-to-br from-neutral-900 to-slate-800 p-6 rounded-lg shadow-2xl h-[400px] flex flex-col"
            >
              <div class="h-48 w-full overflow-hidden rounded-t-lg">
                <img
                  src="morosidad.jpeg"
                  alt="Morosidad Financiera"
                  class="w-full h-full object-cover"
                />
              </div>
              <header class="mt-4 mb-2">
                <h1 class="text-xl font-bold text-claro">
                  Morosidad sistema financiero
                </h1>
              </header>
              <div
                class="text-sm leading-relaxed text-claro/70 space-y-4 mb-2 flex-grow"
              >
                <p>
                  Proyecto para predecir si una persona quedará como deudora en
                  el sistema financiero.
                </p>
              </div>
              <button
                type="button"
                onclick="window.location.href='https://github.com/leandruko/Morosidad-Sistema-Financiero'"
                class="py-2 px-4 max-w-md flex justify-center items-center bg-gray-600 hover:bg-gray-700 focus:ring-gray-500 focus:ring-offset-gray-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="mr-2"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M896 128q209 0 385.5 103t279.5 279.5 103 385.5q0 251-146.5 451.5t-378.5 277.5q-27 5-40-7t-13-30q0-3 .5-76.5t.5-134.5q0-97-52-142 57-6 102.5-18t94-39 81-66.5 53-105 20.5-150.5q0-119-79-206 37-91-8-204-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27t-83.5-38.5-85-13.5q-45 113-8 204-79 87-79 206 0 85 20.5 150t52.5 105 80.5 67 94 39 102.5 18q-39 36-49 103-21 10-45 15t-57 5-65.5-21.5-55.5-62.5q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5 9 14 13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30 69.5 7 55.5-3.5l23-4q0 38 .5 88.5t.5 54.5q0 18-13 30t-40 7q-232-77-378.5-277.5t-146.5-451.5q0-209 103-385.5t279.5-279.5 385.5-103zm-477 1103q3-7-7-12-10-3-13 2-3 7 7 12 9 6 13-2zm31 34q7-5-2-16-10-9-16-3-7 5 2 16 10 10 16 3zm30 45q9-7 0-19-8-13-17-6-9 5 0 18t17 7zm42 42q8-8-4-19-12-12-20-3-9 8 4 19 12 12 20 3zm57 25q3-11-13-16-15-4-19 7t13 15q15 6 19-6zm63 5q0-13-17-11-16 0-16 11 0 13 17 11 16 0 16-11zm58-10q-2-11-18-9-16 3-14 15t18 8 14-14z"
                  ></path>
                </svg>
                Ir a GitHub
              </button>
            </article>
          </div>

          <div
            class="absolute inset-0 scale-[67.5%] z-20 transition-all duration-500 ease-[cubic-bezier(0.25,1,0.5,1)]
                peer-focus-visible/05:[&_article]:ring
                peer-focus-visible/05:[&_article]:ring-indigo-300
                peer-checked/01:translate-x-40
                peer-checked/02:translate-x-40
                peer-checked/02:opacity-0
                peer-checked/03:translate-x-40
                peer-checked/03:z-30
                peer-checked/04:translate-x-20
                peer-checked/04:scale-[83.75%]
                peer-checked/04:z-40
                peer-checked/05:relative
                peer-checked/05:z-50
                peer-checked/05:translate-x-0
                peer-checked/05:scale-100
                peer-checked/05:[&>label]:pointer-events-none"
          >
            <label class="absolute inset-0" for="article-05"
              ><span class="sr-only">Focus on the big picture</span></label
            >
            <article
              class="bg-gradient-to-br from-neutral-900 to-slate-800 p-6 rounded-lg shadow-2xl h-[400px] flex flex-col"
            >
              <div class="h-48 w-full overflow-hidden rounded-t-lg">
                <img
                  src="cancer.webp"
                  alt="Cáncer de Pulmón"
                  class="w-full h-full object-cover"
                />
              </div>
              <header class="mt-4 mb-2">
                <h1 class="text-xl font-bold text-claro">
                  Cáncer de pulmón
                </h1>
              </header>
              <div
                class="text-sm leading-relaxed text-claro/70 space-y-4 mb-2 flex-grow"
              >
                <p>
                  Proyecto de machine learning para predecir si una persona
                  tiene cáncer de pulmón basado en datos de pacientes.
                </p>
              </div>
              <button
                type="button"
                onclick="window.location.href='https://github.com/leandruko/lung-cancer'"
                class="py-2 px-4 max-w-md flex justify-center items-center bg-gray-600 hover:bg-gray-700 focus:ring-gray-500 focus:ring-offset-gray-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="mr-2"
                  viewBox="0 0 1792 1792"
                >
                  <path
                    d="M896 128q209 0 385.5 103t279.5 279.5 103 385.5q0 251-146.5 451.5t-378.5 277.5q-27 5-40-7t-13-30q0-3 .5-76.5t.5-134.5q0-97-52-142 57-6 102.5-18t94-39 81-66.5 53-105 20.5-150.5q0-119-79-206 37-91-8-204-28-9-81 11t-92 44l-38 24q-93-26-192-26t-192 26q-16-11-42.5-27t-83.5-38.5-85-13.5q-45 113-8 204-79 87-79 206 0 85 20.5 150t52.5 105 80.5 67 94 39 102.5 18q-39 36-49 103-21 10-45 15t-57 5-65.5-21.5-55.5-62.5q-19-32-48.5-52t-49.5-24l-20-3q-21 0-29 4.5t-5 11.5 9 14 13 12l7 5q22 10 43.5 38t31.5 51l10 23q13 38 44 61.5t67 30 69.5 7 55.5-3.5l23-4q0 38 .5 88.5t.5 54.5q0 18-13 30t-40 7q-232-77-378.5-277.5t-146.5-451.5q0-209 103-385.5t279.5-279.5 385.5-103zm-477 1103q3-7-7-12-10-3-13 2-3 7 7 12 9 6 13-2zm31 34q7-5-2-16-10-9-16-3-7 5 2 16 10 10 16 3zm30 45q9-7 0-19-8-13-17-6-9 5 0 18t17 7zm42 42q8-8-4-19-12-12-20-3-9 8 4 19 12 12 20 3zm57 25q3-11-13-16-15-4-19 7t13 15q15 6 19-6zm63 5q0-13-17-11-16 0-16 11 0 13 17 11 16 0 16-11zm58-10q-2-11-18-9-16 3-14 15t18 8 14-14z"
                  ></path>
                </svg>
                Ir a GitHub
              </button>
            </article>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
