<section class="container p-6 mx-auto space-y-3 dark:bg-gray-800 dark:text-white" id="projects">
  <h2 class="text-4xl font-bold text-center mb-10 text-claro dark:text-white">Algunos proyectos</h2>

  <div class="grid gap-8 sm:grid-cols-2 md:grid-cols-3">
    <!-- Card -->
    <div class="w-full max-w-full text-center transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="https://github.com/leandruko/sismos-Chile">
        <div class="flex-col justify-between h-56 p-4 rounded-lg bg-zinc-500">
          <h5 class="text-2xl font-bold mb-2">Sismos Chile</h5>
          <p class="text-lg text-ellipsis ">
            Proyecto de análisis de datos sobre el dataset de Sismos en Chile para ver tendencias o patrones.
          </p>
        </div>
      </a>
    </div>

    <!-- Card -->
    <div class="w-full max-w-full text-center transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="https://github.com/leandruko/MineriaDatosProject">
        <div class="flex-col justify-between h-56 p-4 rounded-lg bg-blue-100">
          <h5 class="text-2xl font-bold mb-2 ">Clima en Australia</h5>
          <p class="text-lg text-ellipsis ">
            Análisis de datos sobre patrones climáticos en Australia.
          </p>
        </div>
      </a>
    </div>

    <!-- Card -->
    <div class="w-full max-w-full text-center transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="https://github.com/leandruko/students-performance">
        <div class="flex-col justify-between h-56 p-4 rounded-lg bg-blue-100">
          <h5 class="text-2xl font-bold mb-2 ">Rendimiento Académico</h5>
          <p class="text-lg text-ellipsis ">
            Proyecto realizado con el objetivo de predecir el puntaje de los exámenes de los estudiantes, basándonos en diversas características relacionadas con el entorno académico y familiar, actividades extracurriculares, e influencias sociales.
          </p>
        </div>
      </a>
    </div>

    <!-- Card -->
    <div class="w-full max-w-full text-center transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="https://github.com/leandruko/Morosidad-Sistema-Financiero">
        <div class="flex-col justify-between h-56 p-4 rounded-lg bg-blue-100 ">
          <h5 class="text-2xl font-bold mb-2 ">Morosidad financiera</h5>
          <p class="text-lg text-ellipsis ">
            Modelo para predecir si una persona será morosa en el sistema financiero.
          </p>
        </div>
      </a>
    </div>

    <!-- Card -->
    <div class="w-full max-w-full text-center transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="https://github.com/leandruko/lung-cancer">
        <div class="flex-col justify-between h-56 p-4 rounded-lg bg-blue-100 ">
          <h5 class="text-2xl font-bold mb-2 dark:text-white">Cáncer de pulmón</h5>
          <p class="text-lg text-ellipsis dark:text-gray-400">
            Modelo de predicción para detectar cáncer de pulmón basado en datos.
          </p>
        </div>
      </a>
    </div>

    <!-- Card -->
    <div class="w-full max-w-full text-center transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="https://github.com/leandruko?tab=repositories">
        <div class="flex flex-col justify-center h-56 p-4 rounded-lg bg-gray-100">
          <h5 class="text-2xl font-bold mb-2 dark:text-white">Pronto más proyectos ...</h5>
        </div>
      </a>
    </div>
  </div>
</section>
