<section class="container p-6 mx-auto space-y-3 dark:bg-gray-800 dark:text-white" id="projects">
  <h2 class="text-4xl font-bold text-center mb-10 text-claro dark:text-white">Algunos proyectos</h2>

  <div class="grid gap-8 sm:grid-cols-2 md:grid-cols-3">
    <!-- Card -->
    <div class="w-full max-w-full text-center transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="/">
        <div class="flex-col justify-between h-72 p-4 rounded-lg bg-blue-100 border-4 border-blue-200 dark:bg-gray-900 dark:border-gray-600">
          <h5 class="text-lg font-bold mb-2 dark:text-white">Sismos Chile</h5>
          <p class="text-sm font-medium text-justify dark:text-gray-400">
            Proyecto de análisis de datos sobre el dataset de Sismos en Chile,
            para ver tendencias o patrones durante los últimos años.
          </p>
        </div>
      </a>
    </div>

    <!-- Card -->
    <div class="w-full max-w-full text-center transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="#">
        <div class="flex-col justify-between h-72 p-4 rounded-lg bg-blue-100 border-4 border-blue-200 dark:bg-gray-900 dark:border-gray-600">
          <h5 class="text-lg font-bold mb-2 dark:text-white">Clima en Australia</h5>
          <p class="text-sm font-medium text-justify dark:text-gray-400">
            Proyecto de análisis de datos sobre patrones climáticos en Australia.
          </p>
        </div>
      </a>
    </div>

    <!-- Card -->
    <div class="w-full max-w-full text-center transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="#">
        <div class="flex-col justify-between h-72 p-4 rounded-lg bg-blue-100 border-4 border-blue-200 dark:bg-gray-900 dark:border-gray-600">
          <h5 class="text-lg font-bold mb-2 dark:text-white">Predicción del Rendimiento Académico</h5>
          <p class="text-sm font-medium text-justify dark:text-gray-400">
            Proyecto de machine learning para predecir el puntaje de estudiantes con análisis exploratorio y modelos predictivos.
          </p>
        </div>
      </a>
    </div>

    <!-- Card -->
    <div class="w-full max-w-full text-center transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="#">
        <div class="flex-col justify-between h-72 p-4 rounded-lg bg-blue-100 border-4 border-blue-200 dark:bg-gray-900 dark:border-gray-600">
          <h5 class="text-lg font-bold mb-2 dark:text-white">Morosidad sistema financiero</h5>
          <p class="text-sm font-medium text-justify dark:text-gray-400">
            Proyecto para predecir si una persona quedará como deudora en el sistema financiero.
          </p>
        </div>
      </a>
    </div>

    <!-- Card -->
    <div class="w-full max-w-full text-center transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="#">
        <div class="flex-col justify-between h-72 p-4 rounded-lg bg-blue-100 border-4 border-blue-200 dark:bg-gray-900 dark:border-gray-600">
          <h5 class="text-lg font-bold mb-2 dark:text-white">Cáncer de pulmón</h5>
          <p class="text-sm font-medium text-justify dark:text-gray-400">
            Proyecto de machine learning para predecir si una persona tiene cáncer de pulmón basado en datos de pacientes.
          </p>
        </div>
      </a>
    </div>

    <!-- Card -->
    <div class="w-full max-w-full text-center transition-transform duration-300 hover:-translate-y-1 hover:scale-105">
      <a href="https://github.com/leandruko?tab=repositories">
        <div class="flex flex-col justify-center h-72 p-4 rounded-lg bg-gray-100 border-4 border-gray-200 dark:bg-gray-900 dark:border-gray-600 ">
          <h5 class="text-lg font-bold mb-2 dark:text-white">Pronto más proyectos</h5>
        </div>
      </a>
    </div>
  </div>
</section>
